<a href="https://colab.research.google.com/github/mikazz/Python-Interview-Questions/blob/master/INTERVIEW_CODE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.linkedin.com/pulse/cracking-linkedin-tech-interview-szczepan-faber

https://www.careercup.com/page?pid=python-interview-questions

https://www.careercup.com/question?id=5757368000839680

# Given two strings of comma-seperated values, sort and return the second list based on the ordering of the first list.

In [7]:
def sort_list(list1, list2): 
  
    zipped_pairs = zip(list2, list1) 
  
    z = [x for _, x in sorted(zipped_pairs)] 
      
    return z 


n = "a,b,c,d,e,f,g,h,i"
m = "0,1,1,0,1,2,2,0,1"
x = n.split(",")
y = m.split(",")
print(sort_list(x, y))


n = "g,e,e,k,s,f,o,r,g,e,e,k,s"
m = "0,1,1,0,1,2,2,0,1"
x = n.split(",")
y = m.split(",")
print(sort_list(x, y))

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']
['g', 'k', 'r', 'e', 'e', 'g', 's', 'f', 'o']

# Given an list of 100 numbers, find the (unique set) of duplicate values.

In [2]:
#import random
#random_list = [random.randint(0,100) for i in range(100)]
random_list = [0, 0, 1, 1, 2, 3, 4, 5]

print(random_list)

def keep_duplicates(iterable):
    seen = set()
    duplicates = set()
    for x in iterable:
        if x in seen and x not in duplicates:
            yield x
            duplicates.add(x)
        else:
            seen.add(x)
    
 
print(list(keep_duplicates(random_list)))

[0, 0, 1, 1, 2, 3, 4, 5]
<generator object keep_duplicates at 0x7f8e97326eb8>

# Given an list of 100 numbers, find the (unique set) of unique values.

In [27]:
import random
random_list = [random.randint(0,100) for i in range(100)]
print(list)

seen = set()
uniq = []
for x in random_list:
    if x not in seen:
        uniq.append(x)
        seen.add(x)
        
print(seen)

100
[39, 35, 64, 23, 17, 65, 25, 82, 90, 76, 48, 41, 24, 29, 3, 73, 78, 54, 37, 53, 59, 14, 32, 36, 92, 28, 63, 10, 95, 67, 75, 47, 27, 12, 16, 21, 49, 6, 11, 30, 93, 20, 55, 66, 44, 1, 56, 34, 0, 71, 18, 38, 96, 50, 99, 7, 5, 89, 31, 94, 46, 2, 26, 51, 85, 83, 45, 4, 52, 8, 61, 33, 70, 19, 40, 86, 77, 68, 42, 81, 72, 79, 80, 58, 98, 74, 15, 9, 57, 62, 97, 88, 13, 22, 91, 60, 87, 43, 84, 69]
{0, 1, 2, 7, 8, 10, 11, 15, 16, 17, 19, 21, 22, 23, 24, 25, 26, 28, 29, 30, 32, 35, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 55, 57, 58, 59, 60, 61, 63, 65, 69, 70, 71, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 98, 99, 100}